###################################
# rTorrent resource file.
# 02/22/2017
###################################

###################################
# Base Paths
###################################
method.insert = cfg.rtorrent_basedir,    private|const|string, (cat,"CHANGE_THIS_PATH") 
method.insert = cfg.watch,      private|const|string, (cat,(cfg.rtorrent_basedir),"/watch")
method.insert = cfg.logs,       private|const|string, (cat,(cfg.rtorrent_basedir),"/log")
method.insert = cfg.logfile,    private|const|string, (cat,(cfg.logs),"/rtorrent-",(system.time),".log")


###################################
# Directory Settings
###################################
session.path.set = (cat,(cfg.rtorrent_basedir),".session")
directory.default.set = (cat,(cfg.rtorrent_basedir),"download")


###################################
# rTorrent Settings
###################################
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0
throttle.min_peers.normal.set = 40
throttle.max_peers.normal.set = 100
throttle.min_peers.seed.set = 10
throttle.max_peers.seed.set = 50
pieces.hash.on_completion.set = no
#throttle.max_uploads.set = 15
#ui.torrent_list.layout.set = "full"


###################################
# Network Settings
###################################
network.scgi.open_port = 127.0.0.1:5000
network.port_range.set = 45944-45944
network.port_random.set = no
#network.local_address.set = 127.0.0.1
#network.local_address.set = rakshasa.no
#network.bind_address.set = 127.0.0.1
#network.bind_address.set = rakshasa.no


###################################
# Misc. Settings
###################################
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
protocol.pex.set = no
trackers.use_udp.set = no
dht.mode.set = disable
#system.daemon.set = true
#dht.port.set = 6881


###################################
# Scheduling (Watch)
###################################
schedule = watch_any,10,10,((load.start,(cat,(cfg.watch),"*.torrent")))
schedule = watch_tv,10,10,((load.start,(cat,(cfg.watch),"/tv/*.torrent"),d.custom1.set=tv))
schedule = watch_movie,15,10,((load.start,(cat,(cfg.watch),"/movie/*.torrent"),d.custom1.set=movie))

#schedule2 = ip_tick,0,1800,ip=rakshasa
#schedule2 = bind_tick,0,1800,bind=rakshasa
#schedule2 = low_diskspace,5,60,close_low_diskspace=100M


###################################
# Logging
###################################
#   Levels = critical error warn notice info debug
#   Groups = connection_* dht_* peer_* rpc_* storage_* thread_* tracker_* torrent_*
print = (cat,"Logging to ",(cfg.logfile))
log.open_file = "log", (cfg.logfile)
log.add_output = "info", "log"
#log.add_output = "tracker_debug", "log"

###################################
# Execution Commands
###################################
execute2 = {sh,-c,/usr/bin/php /var/www/rutorrent/php/initplugins.php CHANGE_THIS_USERNAME &}
#method.set_key=event.download.finished,processfinishedtor,"execute=/pathto/somescript.sh,$d.custom1=,$d.name=,$d.base_path="

